* {
font-family: 'Montserrat', sans-serif;
}

h1,h2 {
	font-family: 'Montserrat', sans-serif;
}

img {
	height: 250px;
	width: 250px;
	/* Optional, if our selected img is not rounded	*/
	border-radius: 50%;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

#landing {
	margin-top: 12.5vh;
	height: 75vh;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

#gallery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	padding: 5vh 0;
	height: 80vh;
}




#gallery-div {
	border: 5px solid white;
}

h2 {
	color: blue;
}

ul {
	list-style: none;
	padding: 0;
}

.Tools {
	color: white;
}

#tools-div {
	border: 5px solid white;
}